<ion-view title="Appointment Info">
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Appointment Info</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="items">
      <label class="item">
        Date: {{appoint.date}}
      </label>
      <label class="item">
        Name: {{appoint.name}}
      </label>
      <label class="item">
        Email: {{appoint.email}}
      </label>
      <label class="item">
        Address: {{appoint.address}}
      </label>
      <label class="item">
        Phone Number: {{appoint.phone_number}}
      </label>
    </div>
    
  </ion-content>
</ion-view>